body{

	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	color: black;
	background-image: linear-gradient(160deg,#CCD2E6,#A6ABBB);
  margin:0px;
}

a{

	scroll-behavior: smooth;
}

.Nom {

  font-size: 37px;
    width: 33vw;
    padding-top: 17vw;
    padding-bottom: 17vw;
    margin-left: 33vw;
    margin-right: 33vw;
}

.Navbar {
  top: 0;
  left: 0;

  width: 100vw;

  margin: 0px;
  padding: 0px;

  position: fixed;
  overflow: hidden;
  list-style-type: none;

  background-color: #2A3866;
}

.Navbar li {
  display: inline-block;
  padding: 0.75vw;
}
.Navbar li a{
	color: white;
	font-size: 32px;
	text-decoration: none;

}
.Navbar li:hover{

	background-color: #6D7BA6;
	transition: 0.5s;
}


.pres{
	padding-top: 0px;
	padding-bottom: 7vh;
}

.Presentation h3 {
  font-size: 38px;
}
.Presentation p {
	font-size: 28px;
  line-height: 48px;
}

.comp{
	padding-top: 0px;
	padding-bottom: 7vh;
}

.Competences h3{

  font-size: 38px;

}
.Competences ul{
  width: 98vw;
  font-size: 24px;
  padding-left: 0vw;
  padding-right: 0vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}



.Competences img{

  padding: 2vw;
  padding-top: 1.25vw;

}


.Realisations{
  font-size: 38px;
}

.Realisations div{
  display: inline-block;
  margin-left: 5vw;
  margin-right: 5vw;
}

.Realisations img {
  height: 30vh;
  width: 25vw;
}

.Realisations h5{
  font-size: 15px;
}

.cont{
  padding-top: 0px;
  padding-bottom: 7vh;
}

.Contact{
  font-size: 38px;  
}
.Contact a{
  margin-left: 1vw;
  margin-right: 1vw;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa-soundcloud {
  background: #ff7700;
  color: white;
}

.fa-linkedin {
  background: #0072B1;
  color: white;
}

.fa-google{
  background: #DB4A39;
  color: white;
}

.Contact p{
  font-size: 12px;
}
