body{

	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	color: white;
	background-image: linear-gradient(to bottom,#DEC4A6,#D5BCA0);
  height: 3500px;

}

a{

	scroll-behavior: smooth;
}

.Nom {

  font-size: 37px;
    width: 33vw;
    padding: 12px;
    margin-left: 33vw;
    margin-right: 33vw;
    margin-top: 25vh;
    margin-bottom: 25vh;
}

.Navbar ul {
  background-color: #5E4B34;
  overflow: hidden;
  list-style-type: none;
  padding-top: 0vh;
  padding-bottom: 0.5vh;
  padding-left: 0vw;
  padding-right: 0vw;
  margin-left: 0vw;
  margin-right: 0vw;
  width: 100vw;
  height: 7.5vw;
}
.Navbar li {
  display: inline;
  color: #000;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  text-decoration: none;
}
.Navbar li a{
	color: white;
	font-size: 25px;
	text-decoration: none;
}
.Navbar li:hover{

	background-color: #9E8F7E;
	transition: 0.5s;
}
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.home{
	padding-top: 0px;
	padding-bottom: 2vh;
}
.pres{
	padding-top: 0px;
	padding-bottom: 7vh;
}

.Presentation h3 {
  font-size: 38px;
}
.Presentation p {
	font-size: 24px;
}

.comp{
	padding-top: 0px;
	padding-bottom: 7vh;
}

.Competences h3{

  font-size: 38px;

}
.Competences ul{
  width: 98vw;
  font-size: 24px;
  padding-left: 0vw;
  padding-right: 0vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}



.Competences img{

  padding: 3vw;

}

.real{
  padding-top: 0px;
  padding-bottom: 7vh;
}

.Realisations{
  font-size: 38px;
}

.Realisations div{
  display: inline-block;
  margin-left: 5vw;
  margin-right: 5vw;
}

.Realisations img {
  height: 30vh;
  width: 25vw;
}

.Realisations h5{
  font-size: 15px;
}



.cont{
  padding-top: 0px;
  padding-bottom: 7vh;
}

.Contact{
  font-size: 38px;  
}
.Contact a{
  margin-left: 1vw;
  margin-right: 1vw;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa-soundcloud {
  background: #ff7700;
  color: white;
}

.fa-linkedin {
  background: #0072B1;
  color: white;
}

.fa-google{
  background: #DB4A39;
  color: white;
}

.Contact p{
  font-size: 12px;
}
